<%- include("layouts/header")%>
    <form method="POST" action="/">
        <div class="container">
          
      
          <label for="OTP"><b>Email</b></label>
          <input type="text" placeholder="Enter otp" name="otp" id="otp" required>

          <button type="submit" class="registerbtn">submit</button>
        </div>
      </form>
 